/.vs/MySpector/DesignTimeBuild/.dtbcache.v2
/.vs/
bin/
obj/
/.idea/
/Spec/~
/Spec/~
/Spec/~$
/Spec/~$azor_notes.docx
/Spec/~WRL3605.tmp
/Spec/~$pec_v1.docx
/Spec/~$herServices.docx
/Spec/~WRL2297.tmp
